.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(../../static/background/cinema-background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 350px;
  float: left;
  color: #d3d3d3;
}

.movie-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  border-radius: 10px;
  height: 500px;
  width: 335px;
  background-color: #161a1d;
  box-shadow: 7px 12px 26px 4px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 7px 12px 26px 4px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 7px 12px 26px 4px rgba(0, 0, 0, 0.83);

  .movie-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    img {
      height: 200px;
    }
  }
  .movie-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

  .movie-description {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 180px;
    letter-spacing: 1px;
    width: 300px;
  }

  .movie-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 20px;
  }
}
