.quote-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 300px;
    .btnContainer {
      width: 155px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 90px;
      .btn {
        background-color: transparent;
        width: 155px;
        border-radius: 15px;
        border: 2px solid #f5f3f4;

        color: #f5f3f4;
        &:hover {
          color: #936639;
          border: 2px solid #936639;
        }
      }
    }
  }
}
